
.center{
    text-align: center;
}

.font{
    font-family: 'Comfortaa', cursive
}

.carousel-control-next,
.carousel-control-prev{
    filter: invert(100%)
}

.zoom{
    transition: transform 1.5s;
}
  
.zoom:hover{
    transform: scale(1.08);
}

.padding{
    margin-bottom: 100px;
}

.search button{
    border: none;
    margin-left: 20px;
    background: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  100%);   
    border-radius: 25px;
    padding-left: 13px;
    padding-right: 13px
} 

.search_department button{
    border: none;
    margin-left: 20px;
    background: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  100%);   
    border-radius: 25px;
    padding-left: 13px;
    padding-right: 13px
} 

.state_and_population{
    display: flex;
    flex-direction: column;
    background: lightcoral;
    align-items: center;
}

.details{
    background: lightgoldenrodyellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
